{% extends 'main/layout.html' %}


{% block body %}

    <div class="container d-flex flex-column gap-3 my-4 main-block">
        <form action="{% url 'contact' %}", method="post">
            {% csrf_token %}
           
            <p class="h2 main-font my-0">Contact Form</p>
            <div class="d-flex justify-content-between gap-4">
                <div class="d-flex flex-column w-100">
                    <label for="first-name" class="main-font">First Name</label>
                    {{ form.first_name }} 
                </div>
                <div class="d-flex flex-column w-100">
                    <label for="last-name" class="main-font">Last Name</label>
                    {{ form.last_name }}
                </div>
            </div>
            <div class="d-flex justify-content-between gap-4">
                <div class="d-flex flex-column w-100">
                    <label for="email" class="main-font">E-Mail</label>
                    {{ form.email }}
                </div>
                <div class="d-flex flex-column w-100">
                    <label for="number" class="main-font">Phone Number</label>
                    {{ form.phone_number }}
                </div>
            </div>
            <div class="d-flex flex-column w-100">
                <label for="context" class="main-font">Text Content</label>
                {{ form.context }}
            </div>
            <div class="d-flex w-100 mt-3">
                <input type="submit" value="SUBMIT FORM" class="bg-dark text-light rounded w-100 py-2 main-font">
            </div>
        </form>
    </div>

{% endblock %}