{% extends "main/layout.html" %}

{% block body %}
<div class="index-block">
    <div class="image-container"></div>
    <div class="container-fluid d-flex align-items-center cards-container px-4">
        <div class="row d-flex justify-content-center justify-content-md-between card-row">
            <div class="col-md col-9 h-100 mx-2 d-flex flex-column justify-content-evenly bg-dark gap-4 p-3 w-100 my-4 my-lg-0">
                <div class="d-flex card-image text-center w-100">
                    <iconify-icon width="75%" height="90%" class="d-flex w-100 justify-content-center items-align-center text-light" icon="gala:search"></iconify-icon>
                </div>
                <div>
                    <p class="text-light card-header">Find Your Dream Job</p>
                    <p class="text-light card-text">Discover Exciting Opportunities
                        Browse through a wide range of job listings from top companies and industries. Your dream job is just a click away.</p>
                </div>
                <div class="text-center">
                    <a href="{% url 'jobs' %}"><button class="bg-light text-dark main-font w-75 border-0 py-2 h5">Search Jobs</button></a>
                </div>
            </div>
            <div class="col-md col-9 h-100 mx-2 d-flex flex-column justify-content-evenly bg-dark gap-4 p-3 w-100 my-4 my-lg-0">
                <div class="d-flex card-image text-center w-100">
                    <iconify-icon width="75%" height="90%" class="d-flex w-100 justify-content-center items-align-center text-light" icon="icon-park-outline:browser"></iconify-icon>
                </div>
                <div>
                    <p class="text-light card-header">Post Your Job Listing</p>
                    <p class="text-light card-text">Recruit Top Talent
                        Attract the best candidates by posting your job openings on our platform. Reach a diverse pool of qualified professionals.</p>
                </div>
                <div class="text-center">
                    <a href="{% url 'createListing' %}"><button class="bg-light text-dark main-font w-75 border-0 py-2 h5">Post a Job</button></a>
                </div>
            </div>
            <div class="col-md col-9 h-100 mx-2 d-flex flex-column justify-content-evenly bg-dark gap-4 p-3 w-100 my-4 my-lg-0">
                <div class="d-flex card-image text-center w-100">
                    <iconify-icon width="75%" height="90%" class="d-flex w-100 justify-content-center items-align-center text-light" icon="grommet-icons:resources"></iconify-icon>
                </div>
                <div>
                    <p class="text-light card-header">Career Resources</p>
                    <p class="text-light card-text">Advance Your Career
                        Access valuable resources, tips, and advice to boost your career. From resume writing to interview strategies, we've got you covered.</p>
                </div>
                <div class="text-center">
                    <button class="bg-light text-dark main-font w-75 border-0 py-2 h5">Explore Resources</button>
                </div>
            </div>
        </div>
    </div>
</div>  

{% endblock %}